<section class="form-section">
  <h1 class="text-preset-2 form-title">Password Generator</h1>
  <form class="form">
    <label class="password-label">
      <input
        [value]="passwordToCopy"
        #passwordInput
        placeholder="P4$5W0rD!"
        class="password-input"
        type="text"
        disabled
      />
      <button
        class="copy-button"
        type="button"
        (click)="copyToClipboard(passwordInput.value)"
      >
        <img
          src="/icons/copy-icon.svg"
          alt="copy-icon"
          width="18"
          height="20"
        />
      </button>
    </label>
    <div class="checkbox-container">
      <div class="checkbox-range-container">
        <p class="text-preset-4 checkbox-range-text">Character Length</p>
        <strong class="text-preset-2 checkbox-range-value">{{
          rangeValue
        }}</strong>
      </div>
      <input
        [value]="rangeValue"
        class="range-input"
        type="range"
        min="4"
        max="15"
        (input)="onRangeInput($event)"
      />
      <div class="checkboxes">
        <label class="checkbox-label">
          <div class="checkmark">
            <input type="checkbox" class="checkbox" />
            <img
              src="/icons/checked-icon.svg"
              alt="checkbox-icon"
              width="11"
              height="8"
              class="checkbox-icon"
            />
          </div>
          <p class="text-preset-4 checkbox-text">Include Uppercase Letters</p>
        </label>
        <label class="checkbox-label">
          <div class="checkmark">
            <input type="checkbox" class="checkbox" />
            <img
              src="/icons/checked-icon.svg"
              alt="checkbox-icon"
              width="11"
              height="8"
              class="checkbox-icon"
            />
          </div>
          <p class="text-preset-4 checkbox-text">Include Lowercase Letters</p>
        </label>
        <label class="checkbox-label">
          <div class="checkmark">
            <input type="checkbox" class="checkbox" />
            <img
              src="/icons/checked-icon.svg"
              alt="checkbox-icon"
              width="11"
              height="8"
              class="checkbox-icon"
            />
          </div>
          <p class="text-preset-4 checkbox-text">Include Numbers</p>
        </label>
        <label class="checkbox-label">
          <div class="checkmark">
            <input type="checkbox" class="checkbox" />
            <img
              src="/icons/checked-icon.svg"
              alt="checkbox-icon"
              width="11"
              height="8"
              class="checkbox-icon"
            />
          </div>
          <p class="text-preset-4 checkbox-text">Include Symbols</p>
        </label>
      </div>
      <div class="password-strength-container">
        <p class="text-preset-4 strength-text">Strength</p>
        <p class="text-preset-3 strength-level-text">Medium</p>
        <ul class="strength-level-list">
          <li class="strength-level --filled"></li>
          <li class="strength-level --filled"></li>
          <li class="strength-level --filled"></li>
          <li class="strength-level"></li>
        </ul>
      </div>
    </div>
  </form>
</section>
