.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.form-title {
  color: var(--secondary-text-color);
  margin-bottom: 32px;
  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
  }
}

.form {
  width: 343px;
  @media screen and (min-width: 768px) {
    width: 540px;
  }
}

.password-label {
  position: relative;
}

.password-input {
  position: relative;
  outline: none;
  border: none;
  padding: 16px;
  width: 100%;
  background: var(--main-componets-bg-color);
  margin-bottom: 16px;
  font-family: JetBrains Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 42px;
    padding: 32px 24px;
  }
}

.password-input::placeholder {
  color: #54535b;
}

.copy-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  position: absolute;
  top: -5px;
  right: 15px;
  &:disabled {
    cursor: default;
  }
  @media screen and (min-width: 768px) {
    right: 24px;
    top: -8px;
  }
  .password-copied-icon {
    width: 17px;
    height: 20px;
    color: #54535b;
    @media screen and (min-width: 768px) {
      width: 21px;
      height: 24px;
    }
  }
}

.password-copied-text {
  font-family: JetBrains Mono;
  color: var(--accent-text-color);
  margin-right: 8px;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    margin-right: 16px;
    font-size: 18px;
    line-height: 24px;
  }
}

.checkbox-container {
  width: 100%;
  background: var(--main-componets-bg-color);
  padding: 16px;
  @media screen and (min-width: 768px) {
    padding: 32px 24px;
  }
}

.checkbox-range-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.checkbox-range-text {
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.checkbox-range-value {
  color: var(--accent-text-color);
  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 42px;
  }
}

.range-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #18171f;
  outline: none;
  margin-bottom: 32px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    background: var(--primary-text-color);
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }

  &::-moz-range-thumb {
    width: 28px;
    height: 28px;
    background: var(--primary-text-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.checkbox-label {
  display: flex;
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.checkbox-text {
  margin-left: 16px;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    margin-left: 24px;
    font-size: 18px;
    line-height: 24px;
  }
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgb(230, 229, 234);
  transition: 500ms;
  transition-property: border;
  cursor: pointer;
  &:checked {
    background-color: var(--accent-text-color);
  }
  &:hover,
  &:focus {
    border: 2px solid var(--accent-text-color);
  }
}

.checkbox:checked + .checkbox-icon {
  display: block;
}

.checkmark {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%);
}

.password-strength-container {
  display: flex;
  align-items: center;
  background-color: #18171f;
  padding: 16px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    padding: 32px 16px;
    margin-bottom: 32px;
  }
}

.strength-text {
  text-transform: uppercase;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.strength-level-text {
  margin-left: auto;
  color: var(--primary-text-color);
  text-transform: uppercase;
  margin-right: 16px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.strength-level-list {
  display: flex;
}

.strength-level {
  width: 8px;
  height: 26px;
  margin-right: 8px;
  border: 2px solid var(--primary-text-color);

  &:last-of-type {
    margin-right: 0;
  }

  &.--filled-orange {
    background-color: #f8cd65;
    border: none;
    border: 2px solid #f8cd65;
  }
}

.password-generate-button {
  font-family: JetBrains Mono, sans-serif;
  border: none;
  text-transform: uppercase;
  color: #24232c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-text-color);
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  &:hover,
  &:focus {
    img {
      transform: translateX(40%);
    }
  }
  &:disabled{
    cursor: default;
    background-color: #7ec486;
    &:hover,
  &:focus {
    img {
      transform: translateX(0%);
    }
  }
  }
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
  }
  img {
    transition: 500ms;
    transition-property: transform;
    margin-left: 16px;
    @media screen and (min-width: 768px) {
      margin-left: 24px;
    }
  }
}
