
@use "fonts";


html,
body {
  height: 100%;
}

p{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}


body {
  margin: 0;
  font-family: JetBrains Mono, sans-serif;
  background: linear-gradient(90deg, rgb(20, 19, 27), rgb(8, 7, 11) 100%);
}

:root {
  --main-componets-bg-color: #24232C;
  --primary-text-color: #E6E5EA;
  --secondary-text-color: #817d92;
  --accent-text-color: #A4FFAF;
}

.text-preset-1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
}

.text-preset-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.text-preset-3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.text-preset-4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

